<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/button.css">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <h2 style="color:red;">{{ message }}</h2>
        {% endfor %}
        <h3>
            <a href="/departments">Departments</a><br/>
            <a href="/employees">Employees</a><br/>
            <a href="/search">Search</a>
        </h3>
        <hr/>
        <br/>
        {% block body %}{% endblock %}
    </body>
</html> 