{% extends "base.html.jinja" %}
{% block title %}{% if department.id %}Edit {{ department.name }} department{% else %}Add department{% endif %}{% endblock %}
{% block body %}
 <form method="POST">
  <label for="name">Department name:</label><br/>
  <input type="text" id="name" name="name" value="{{ form.get('name', '') }}"><br/><br/>
  <button type="submit" class="button">Submit</button>
  <a href={% if department.id %}"/departments/{{ department.id }}"{% else %}"/departments"{% endif %} class="button">Cancel</a>

</form> 
{% endblock %}