<table> 
    <tr>
        <th>Name</th><th>Date of birth</th><th>Salary</th><th>Department</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.full_name }}</td>
        <td>{{ employee.date_of_birth }}</td>
        <td>{{ employee.monthly_salary }}</td>
        <td>{{ employee.department.name }}</td>
    </tr>
    {% endfor %}
</table>