{% extends "base.html.jinja" %}
{% block title %}{{ department.name }} department{% endblock %}
{% block body %}
<table> 
    <tr>
        <th colspan="3">Department info</th>
    </tr>
    <tr>
        <th>Department name</th><th>Average salary</th><th>Number of employees</th>
    </tr>
    <tr>
        <td>{{ department.name }}</td>
        <td>{{ department.average_monthly_salary }}</td>
        <td>{{ department.employees_count }}</td>
    </tr>
</table>

<a href="/departments/{{ department.id }}/edit" class="button">Edit department</a>
<a href="/departments/{{ department.id }}/delete" class="button">Delete department</a>

<br/><br/><br/>

{% set employees = department.employees %}
<table> 
    <tr>
        <th colspan="3">Employees in {{ department.name }} department</th>
    </tr>
    <tr>
        <th>Name</th><th>Date of birth</th><th>Salary</th>
    </tr>
    {% for employee in employees|sort(attribute='full_name') %}
    <tr>
        <td><a href="/employees/{{ employee.id }}">{{ employee.full_name }}</a></td>
        <td>{{ employee.date_of_birth }}</td>
        <td>{{ employee.monthly_salary }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

